:root {
  --default-transition: color .1s ease-in-out, fill .1s ease-in-out,
    border-color .3s ease-in-out, transform .3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

:root[data-theme="light"] {
  --logo: invert(1);


  --primary-100: #f8d7ee;
  /* Lighter shade of rosa-sinna */
  --primary-200: #fcc3e0;
  /* Slightly darker than primary-100 */
  --primary-300: #ff82bd;
  /* Darker shade of rosa-sinna */
  --accent-100: #fcd2eb;
  /* Lighter shade with a hint of rosa-sinna */
  --accent-200: #f9a6d4;
  /* Slightly darker accent with rosa-sinna influence */
  --text-100: #1E2022;
  /* Preserved */
  --text-200: #8d6388;
  /* Darker shade of rosa-sinna */
  /* Preserved */
  --text-200: #8d6388;
  /* Darker shade of rosa-sinna */
  --text-300: #6b6b6b;
  /* Preserved */
  --bg-100: #f7e6f0;
  /* Lighter shade with rosa-sinna influence */
  --bg-200: #fac3e0;
  /* Slightly darker bg with rosa-sinna influence */
  --bg-300: #ffa9e6;
  /* Preserved as rosa-sinna */
  --link-hover: #f9f9f9;
  /* Preserved */


  /* Preserved */


  --switch-bg-icon: #ffd371;
  --muted-text: #b1b0b5;
  --icon-sun: #ee8e44;
  --icon-moon: #b7b7b7;
  --switch-pos: .25em;
  --change: #aa8b52;
  --change: #396ce2;
  --sun-display: block;
  --moon-display: none;
  --rosa-sinna: #ffa9e6;
}


:root[data-theme="dark"] {
  --logo: invert(0);

  --primary-100: #b16b94;
  --primary-200: #a75c85;
  --primary-300: #9c4d76;
  --accent-100: #d291c1;
  --accent-200: #e0a4d0;
  --text-100: #fce1f2;
  --text-200: #7e5971;
  --text-300: #3e1a3c;
  --link-hover: #3e1a3c;
  --bg-100: #351f35;
  --bg-200: #432743;
  --bg-300: #4f2f4f;
  --link-hover: #271527;

  --switch-bg-icon: #081d32;
  --muted-text: #77757E;
  --icon-sun: var(--muted-text);
  --icon-moon: #b7b7b7;
  --switch-pos: 2.7em;
  --change: #aa8b52;
  --sun-display: none;
  --moon-display: block;
  --rosa-sinna: #ffa9e6;
}

html {
  height: 100dvh;
  font-size: 100%;
  background-color: var(--bg-100);
  margin: auto;
  line-height: 1.5em;
}

.special {
  color: var(--rosa-sinna)
}

#logo img {
  width: 3em;
  height: 3em;
  margin: auto;
  padding: 2em;
  display: flex;
  border-radius: 50%;
}

#menu {
  padding: 0em;
  margin: 1em auto;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-200);
  border-radius: 20px;
}

#menu ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

#menu ul li {
  width: 7em;
  height: 2em;
  min-width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu ul li:not(:last-child, :nth-child(4)) {
  border-right: 1px solid var(--accent-100);
}

#menu ul li a {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease, border-bottom 0.3s ease;
}

#menu ul li a:hover {
  background-color: var(--bg-100);
  color: var(--text-100);
  border-bottom: 2px solid var(--primary-100);
}

#menu ul li a.active {
  background-color: var(--bg-100);
  border-bottom: 2px solid var(--primary-100);
}

a:not(header a) {
  text-decoration: none;
  color: var(--text-100);
}


a:hover:not(.card a, .playlist-link, header a) {
  text-decoration: none;
  color: var(--text-200);
}

#theme-switcher {
  background-color: var(--bg-100);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  padding: .5em;
  position: relative;
  transition: var(--default-transition);
}

#theme-switcher::before {
  content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--switch-bg-icon);
  border-radius: 50px;
  z-index: 0;
  left: 0;
  transform: translateX(var(--switch-pos));
  transition: var(--default-transition);
}

#theme-switcher svg {
  z-index: 1;
  transition: var(--default-transition);
}

#sun {
  fill: var(--icon-sun);
}

#moon {
  fill: var(--icon-moon);
}

#mobile {
  display: block;
  width: 100%;
  bottom: -1px;
  margin: auto;
  position: fixed;
  background: linear-gradient(to top right, var(--bg-100), var(--bg-200));
}

#mobile ul {
  padding: 0.8em 0;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#mobile li {
  display: inline-block;
  padding: 0 1.5em;
}

#mob-theme-switcher {
  background-color: var(--bg-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .5em;
  position: relative;
  gap: 1em;
}

#mob-theme-switcher::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: var(--switch-bg-icon);
  border-radius: 50%;
  z-index: 0;
  left: 0;
  transform: translateX(.25em);
}

#mob-theme-switcher svg {
  z-index: 1;
}

#mob-theme-switcher #mobsun {
  fill: var(--icon-sun);
  display: var(--sun-display);
}

#mob-theme-switcher #mobmoon {
  fill: var(--icon-moon);
  display: var(--moon-display);
}

#mobile .active svg {
  fill: var(--text-200);
}

/* HOME */
#home {
  width: 100%;
  position: relative;
  height: 40em;
}

#welcome-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(2px);
  clip-path: polygon(1% 1%, 99% 1%, 99% 99%, 1% 99%);
}

#welcome-text {
  position: relative;
  text-align: center;
  top: 16em;
  color: white;
}

#welcome-title {
  font-size: 3em;
}

#welcome-description {
  font-size: 2em;
  color: white;
}

.home-btn {
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin: 0 2em;
  background-color: var(--rosa-sinna);
  color: black;
}

.home-btn:hover {
  background-color: #ffd5f3;
  transition: 0.3s;
}

#about-btn {
  padding: .7em 3em;
}

#menu-btn {
  padding: .7em 2em;
}

#gallery-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
  padding: 1.5em .7em;
}

#gallery-btn {
  padding: .6em 2em;
}

#gallery-text {
  margin-right: 2em;
  color: var(--text-100)
}

.gallery-img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

#gallery-div::after {
  content: "";
  width: 350px;
}

hr {
  width: 85%;
}

#newsletter-div {
  padding: 2em 0;
  width: 100%;
}

#newsletter-text {
  text-align: right;
  width: 90%;
  color: var(--text-100)
}

#newsletter-form {
  text-align: right;
  width: 90%;
}

#newsletter-title {
  font-size: 2em;
}

#newsletter-subtitle {
  font-size: 1em;
}

#newsletter-form #form-email {
  font-size: 1em;
  width: 23em;
  padding: .4em;
  margin-right: 2em;
}

#newsletter-btn {
  padding: .7em 3em;
  margin: unset;
  margin-right: 0.4em
}

#hr-footer {
  width: 95%;
}

footer p {
  text-align: center;
  padding-bottom: 1em;
  color: var(--text-100)
}

/**CONTACTS**/

.contact-options {
  list-style: none;
  text-align: start;
}

.contact-options li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: left;
}

.contact-options li:hover {
  color: var(--text-200);
}

.icon {
  fill: var(--text-100);
  vertical-align: middle;
  margin: .5em;
}

.icon:hover {
  fill: var(--text-200);
}

.title,
.paragraph {
  text-align: center;
  color: var(--text-100);
}

/* ContactPage.css */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  height: 100dvh;
  padding: 1em;
}

.form-container {
  display: block;
}

#contact-form {
  width: 100%;
}

#contact-form label {
  color: var(--text-100);
  font-size: 1.2em;
}

#contact-form input {
  color: var(--text-100);
  width: 80%;
  height: 2em;
  display: block;
  margin-bottom: .75em;
  background-color: var(--bg-200);
  outline: none;
  border: none;
  font-size: 1.2em;
}

#contact-form input::placeholder {
  color: grey;
}

#contact-form textarea {
  width: 80%;
  height: 5em;
  display: block;
  resize: none;
}

#contact-form fieldset {
  border: none;
  padding: 1em;
}

#contact-form button:not(.submit) {
  background-color: var(--bg-200);
  color: var(--text-100);
  width: 5em;
  height: 2.9em;
  border: none;
  outline: none;
}

#phone-input {
  width: 100%;
}

div#phone-input input {
  width: calc(80% - 3em);
}

#contact-form textarea {
  width: 80%;
  height: 5em;
  border: none;
  outline: none;
  background-color: var(--bg-200);
  color: var(--text-100);
}

#contact-form textarea::placeholder {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.name,
.surname {
  width: 44.7%;
  display: inline-block;
}

#contact-form button.submit {
  background-color: var(--primary-100);
  display: block;
  margin-left: 1.5em;
  color: var(--text-100);
  width: 20%;
  height: 3em;
  border: none;
  outline: none;
  cursor: pointer;
}

/**MAP**/

.map-container {
  height: 100%;
  width: 100%;
}

.map-container div {
  height: 70%;
  width: 100%;
}

/* MotorbikeAnimation.css */
.motorbike-container {
  position: relative;
  width: 100%;
  height: 400px;
  /* Adjust height as needed */
}

.motorbike {
  width: 100%;
  /* Initially position the motorbike outside the left edge */
  animation: motorbikeAnimation 2s linear infinite;
  /* Animation duration and timing */
}



@keyframes motorbikeAnimation {
  0% {
    transform: translateX(-100%);
    /* Initial position */
  }

  100% {
    transform: translateX(100%);
    /* Move to the right edge of the container */
  }
}




/* About */
.aboutus {
  width: 100%;
  margin-block: 5rem;
}

.aboutus_box {
  width: 80%;
  margin: 0 auto;
}

.aboutus_box_hero {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
  gap: 3rem;
}

.aboutus_box_hero_left h1 {
  font-size: 3rem;
  line-height: .5;
  color: var(--accent-100);
}

.aboutus_box_hero_left p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--text-100)
}

.aboutus_box_title {
  margin-top: 5rem;
}

.aboutus_box_title p {
  color: var(--text-100);
}

.aboutus_box_title h2 {
  font-size: 3rem;
  line-height: 1;
}

.aboutus_box_title p {
  font-size: 1.5rem;
  line-height: 1.2;
  width: 40%;
}

.aboutus_box_founder {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.aboutus_box_founder_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow-x: auto;
}

.aboutus_box_founder_box::-webkit-scrollbar {
  width: 10px;
  border-left: .5px solid #999;
}

.aboutus_box_founder_box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.aboutus_box_founder_box::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.aboutus_box_founder_box_image {
  background-color: var(--primary-300);
  color: var(--primary-200);
  padding: 1rem;
  border-radius: 1rem;
}

.aboutus_box_founder_box_image_img {
  border-radius: 1rem;
}

.aboutus_box_founder_box_image h3 {
  line-height: 0;
  font-size: 2rem;
}

.aboutus_box_founder_box_image p {
  line-height: 0;
  font-size: 1.2rem;
}

.aboutus_box_facts_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.aboutus_box_facts_box_info {
  background-color: var(--primary-300);
  padding: 1rem 3rem;
  border-radius: 1rem;
  color: var(--primary-200);
}

.aboutus_box_facts_box_info h3 {
  font-size: 4rem;
  line-height: 0;
}



@media screen and (max-width: 35em) {
  .aboutus_box {
    width: 90%;
  }

  .aboutus_box_hero {
    grid-template-columns: 1fr;
  }

  .aboutus_box_founder {
    margin-top: 5rem;
  }

  .aboutus_box_founder_box {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .aboutus_box_title p {
    width: 100%;
  }

  .aboutus_box_facts_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 4rem;
  }

  .aboutus_box_facts_box_info h3 {
    font-size: 2rem;
  }
}

/**MENU**/

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-top: .5em;
  text-align: center;
  color: var(--text-100);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  display: flex;
  align-items: space-between;
  width: 30%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4em;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h3 {
  color: #f1356d;

}

p {
  color: var(--text-300);
}

.card img {
  width: 40%;
  height: auto;
}

.card-info {
  padding: 20px;
}

.card-info h3 {
  margin-top: 0;
}

.card-info p {
  margin: 5px 0;
}


@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    /* Cambia la direzione del flexbox in colonna */
  }

  .card {
    width: 80%;
  }

  .card img {
    width: 50%;
    height: auto;
  }
}