:root {
  --default-transition: color .1s ease-in-out, fill .1s ease-in-out,
    border-color .3s ease-in-out, transform .3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

:root[data-theme="light"] {
  --logo: invert(1);
  --primary-100: #1E2022;
  --primary-200: #34373b;
  --primary-300: #b6bbbf;
  --accent-100: #788189;
  --accent-200: #e1e4e6;
  --text-100: #1E2022;
  --text-200: #887767;
  --text-300: #6b6b6b;
  --bg-100: #F0F5F9;
  --bg-200: #C9D6DF;
  --bg-300: #bfc7d1;
  --link-hover: #f9f9f9;
  --switch-bg-icon: #ffd371;
  --muted-text: #b1b0b5;
  --icon-sun: #ee8e44;
  --icon-moon: #b7b7b7;
  --switch-pos: .25em;
  --change: #aa8b52;
  --change: #396ce2;
  --sun-display: block;
  --moon-display: none;
  --rosa-sinna: #ffa9e6;
}


:root[data-theme="dark"] {
  --logo: invert(0);
  --primary-100: #a9a9a9;
  --primary-200: #808080;
  --primary-300: #696969;
  --accent-100: #c0c0c0;
  --accent-200: #d3d3d3;
  --text-100: #e1dfdd;
  --text-200: #766c6c;
  --text-300: #f9f9f9;
  --link-hover: #f9f9f9;
  --bg-100: #262626;
  --bg-200: #333333;
  --bg-300: #404040;
  --link-hover: #030303;
  --switch-bg-icon: #081d32;
  --muted-text: #77757E;
  --icon-sun: var(--muted-text);
  --icon-moon: #b7b7b7;
  --switch-pos: 2.7em;
  --change: #aa8b52;
  --sun-display: none;
  --moon-display: block;
}

html {
  height: 100dvh;
  font-size: 100%;
  background-color: var(--bg-100);
  margin: auto;
  line-height: 1.5em;
}

#logo img {
  width: 3em;
  height: 3em;
  margin: auto;
  padding: 2em;
  display: flex;
  border-radius: 50%;
}

#menu {
  padding: 0em;
  margin: 1em auto;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-200);
  border-radius: 20px;
}

#menu ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

#menu ul li {
  width: 7em;
  min-width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu ul li:not(:last-child) {
  border-right: 1px solid var(--accent-100);
}

a:not(header a) {
  text-decoration: none;
  color: var(--text-100);
}


a:hover:not(.card a, .playlist-link, header a) {
  text-decoration: none;
  color: var(--text-200);
}

#theme-switcher {
  background-color: var(--bg-100);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  padding: .5em;
  position: relative;
  transition: var(--default-transition);
}

#theme-switcher::before {
  content: '';
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: var(--switch-bg-icon);
  border-radius: 50px;
  z-index: 0;
  left: 0;
  transform: translateX(var(--switch-pos));
  transition: var(--default-transition);
}

#theme-switcher svg {
  z-index: 1;
  transition: var(--default-transition);
}

#sun {
  fill: var(--icon-sun);
}

#moon {
  fill: var(--icon-moon);
}

#mobile {
  display: block;
  width: 100%;
  bottom: -1px;
  margin: auto;
  position: fixed;
  background: linear-gradient(to top right, var(--bg-100), var(--bg-200));
}

#mobile ul {
  padding: 0.8em 0;
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#mobile li {
  display: inline-block;
  padding: 0 1.5em;
}

#mob-theme-switcher {
  background-color: var(--bg-100);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: .5em;
  position: relative;
  gap: 1em;
}

#mob-theme-switcher::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: var(--switch-bg-icon);
  border-radius: 50%;
  z-index: 0;
  left: 0;
  transform: translateX(.25em);
}

#mob-theme-switcher svg {
  z-index: 1;
}

#mob-theme-switcher #mobsun {
  fill: var(--icon-sun);
  display: var(--sun-display);
}

#mob-theme-switcher #mobmoon {
  fill: var(--icon-moon);
  display: var(--moon-display);
}

#mobile .active svg {
  fill: var(--text-200);
}